<form  [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate> 
  
  <div class="row clearfix">
    <div class="col-12">
      
      <div class="card">
        
        <div class="header">
          <h2>Incluir Grupo Consumo</h2>
        </div>
        
        <div class="body row">

          <div class="form-group col-md-4 col-12">
          
            <label>* Categoria:</label>
  
            <app-selecionar-categoria 
              [valido]= (categoria.valid)
              [submetido]= (submited)
              (setCategoria)="setCategoria($event)">
            </app-selecionar-categoria>
            
          </div>

          <div class="form-group col-md-4 col-12">
          
            <label>* Nome:</label>
  
            <input 
              formControlName="nome" 
              placeholder="Nome"
              class="form-control" 
              [ngClass]="
              {
                'is-invalid': submited && nome.invalid , 
                'is-valid': nome.valid && nome.touched
              }"
            >

            <span class="invalid-feedback" *ngIf="nome.hasError('required')">
              Nome é Obrigatório
            </span>
            
            <span class="valid-feedback" *ngIf="nome.valid">
              Valido
            </span>
            
          </div>
          
          <div class="form-group col-md-4 col-12">
          
            <label>* Valor:</label>

            <app-input-money 
              [submetido]=submited
              [valido]=valor.valid
              (setValue)="setValue($event)">
            </app-input-money>
            
          </div>

        </div>
        
        
        <div class="footer mb-4">
          
            <div class="col">
              <div class="d-flex justify-content-between">
                <button class="btn btn-outline-secondary" (click)="voltar()" type="button">Voltar</button>
                <button class="btn btn-outline-success" type="submit" >Salvar</button>
              </div>
            </div>
          
        </div>
        
      </div>
      
    </div>

    
  </div>
  
</form>