<br/>
<br/>

<app-table *ngIf="table"  [table]=table [filtro]=filtro (setFiltro)="setFiltro($event)">

  <table class="table table-hover table-bordered table-sm">
    <thead class="thead-light">
      <tr>

        <th colspan="2" style="width: 10%">
          
          <button type="button" [disabled]=true class="btn btn-outline-success btn-block">
            <i class="fa fa-plus"></i>
          </button>

        </th>

        <th class="w-90" style="width: 90%" (click)="ordernar('nome')" >
          
          <div class="d-flex justify-content-between align-items-center">
            
            <div>
              Nome
            </div>
            
            <div *ngIf="filtro.nome.orderAsc !== null" >
              <i class="icon-arrow-up" *ngIf="filtro.nome.orderAsc && filtro.nome.orderAsc !== null"></i>
              <i class="icon-arrow-down" *ngIf="!filtro.nome.orderAsc && filtro.nome.orderAsc !== null"></i>
            </div>
          
          </div>
         
        </th>

      </tr>
    </thead>
   
    <thead>
      
      <tr>
        <th colspan="2" style="width: 8%">
          <button type="button" [disabled]=true (click)="buscar()" class="btn btn-success btn-block">
            Buscar
          </button>
        </th>

        <th style="width: 90%">
          <input 
            class="form-control"
            [(ngModel)]="filtro.nome.valor" 
            [disabled]=true
           />
        </th>

      </tr>
    </thead>
    
    <tbody>
      
      <tr *ngFor="let categoria of table.content">

        <td>
          <button type="button" [disabled]=true class="btn btn-outline-primary btn-block">
            <i class="fa fa-pencil"></i>
          </button>
        </td>

        <td>
          <button type="button" [disabled]=true class="btn btn-outline-danger btn-block">
            <i class="fa fa-times"></i>
          </button>
        </td>

        <td> 
          {{categoria.nome}}
        </td>
        
      </tr>
      
    </tbody>
  </table>

</app-table>

