<form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate> 
  
  <div class="row clearfix">
    <div class="col-12">
      
      <div class="card">
        
        <div class="header">
          <h2>Incluir Grupo Consumo</h2>
        </div>
        
        <div class="body">
          <div class="form-group">
          
            <label>* Nome:</label>
                      
            <input 
              type="text" 
              class="form-control"
              formControlName="nome"
              [ngClass]="
              {
                'is-invalid': submited && nome.invalid , 
                'is-valid': (nome.valid && nome.touched) 
              }">
  
            <span class="invalid-feedback" *ngIf="nome.hasError('required')">
              Campo é Obrigatório
            </span>

            <span class="invalid-feedback" *ngIf="nome.hasError('minlength')">
              Esse campo exige pelo menos 3 caracteres
            </span>
              
            <span class="invalid-feedback" *ngIf="nome.hasError('maxlength')">
              Esse campo exige no maximo 50 caracteres
            </span>
          </div>
        </div>
        
        
        <div class="footer mb-4">
          
            <div class="col">
              <div class="d-flex justify-content-between">
                <button class="btn btn-outline-secondary" (click)="voltar()" type="button">Voltar</button>
                <button class="btn btn-outline-primary" type="submit" >Editar</button>
              </div>
            </div>

          
        </div>
        
      </div>
      
    </div>

    
  </div>
  
</form>