<div class="row clearfix">
  <div class="col-12">

    <div class="card">
      
      <div class="header">
        <h2>Visualizar Contrato</h2>
      </div>

      <div class="body">
        <div class="container">
          
          <div class="row">

            <div class="col-12">

              <div class="form-group">
                <label>Número:</label>
                <input  
                  [disabled]="true"
                  [(ngModel)]="data.numero" 
                  class="form-control " 
                  name="text" >
              </div>

            </div>
          </div>
          
          <div class="row">
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Categoria:</label>
                <input  
                  [disabled]="true"
                  [(ngModel)]="data.numero" 
                  class="form-control " 
                  name="text" >
              </div>
            </div>
            
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Grupo Consumo:</label>
                <input  
                  [disabled]="true"
                  [(ngModel)]="data.numero" 
                  class="form-control " 
                  name="text" >
              </div>
            </div>
            
            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Valor:</label>
                <input  
                  [disabled]="true"
                  [(ngModel)]="data.numero" 
                  class="form-control " 
                  name="text" >
              </div>
            </div>

          </div>

          <div class="row">
           
            <div class="col-md-8 col-12">
              <div class="form-group">
                <label>Nome:</label>
                <input  
                  [disabled]="true"
                  [(ngModel)]="data.numero" 
                  class="form-control " 
                  name="text" >
              </div>
            </div>

            <div class="col-md-4 col-12">
              <div class="form-group">
                <label>Número documento:</label>
                <input  
                  [disabled]="true"
                  [(ngModel)]="data.numero" 
                  class="form-control " 
                  name="text" >
              </div>
            </div>

          </div>

          <div class="row">
            
            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>Matricula:</label>
                <input  
                  [disabled]="true"
                  [(ngModel)]="data.numero" 
                  class="form-control " 
                  name="text" >
              </div>
            </div>

            <div class="col-md-6 col-12">
              <div class="form-group">
                <label>Matricula de correspondência:</label>
                <input  
                  [disabled]="true"
                  [(ngModel)]="data.numero" 
                  class="form-control " 
                  name="text" >
              </div>
            </div>

        </div>

        <div class="row">
            
          <div class="col-md-6 col-12">
            <div class="form-group">
              <label>Hidromêtro:</label>
              <input  
                [disabled]="true"
                [(ngModel)]="data.numero" 
                class="form-control " 
                name="text" >
            </div>
          </div>

          <div class="col-md-6 col-12">
            <div class="form-group">
              <label>Iniciado em:</label>
              <input  
                [disabled]="true"
                [(ngModel)]="data.numero" 
                class="form-control " 
                name="text" >
            </div>
          </div>

        </div>





        <hr/>

        <div class="row">
          <div class="col-12">
            
            <h5> Resumo dos últimos seis meses</h5>
            
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Refêrencia</th>
                    <th>Valor</th>
                    <th>Status</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <th>Janeiro de 2020</th>
                    <td>R$ 35,00</td>
                    <td>Pago</td>
                  </tr>
                  
                  <tr>
                    <th>Fevereiro de 2020</th>
                    <td>R$ 35,00</td>
                    <td>Pago</td>
                  </tr>
                
                  <tr>
                    <th>Março de 2020</th>
                    <td>R$ 35,00</td>
                    <td>Pago</td>
                  </tr>
                
                  <tr>
                    <th>Junho de 2020</th>
                    <td>R$ 35,00</td>
                    <td>Pendente</td>
                  </tr>
                
                  <tr>
                    <th>Julho de 2020</th>
                    <td>R$ 35,00</td>
                    <td>Astrasado</td>
                  </tr>
                
                </tbody>

              </table>
            </div>
          </div>
        </div>

        </div>
      </div>


        <div class="footer">
          <div class="d-flex justify-content-between">
            <div class="p-2">
            </div>
            
            <div class="p-2">
              <button class="btn btn-outline-secondary" (click)="voltar()" type="button">Voltar</button>
            </div>
            
          </div>
          
        </div>
     
    </div>

  </div>
</div>
