<div class="row clearfix">

  <div class=" col-12">
    <hr>    
  </div>


  <div class="col-md-3 col-12">
    
    <app-distribuicao [distribuicao]="distribuicaoClientes">
    </app-distribuicao>
    
  </div>
 
  <div class="col-md-3 col-12">
    
    <app-distribuicao [distribuicao]="distribuicaoContratos">
    </app-distribuicao>
    
  </div>
  
  <div class="col-md-3 col-12">
    
    <app-distribuicao [distribuicao]="distribuicaoBoleto">
    </app-distribuicao>
    
  </div>

  <div class="col-md-3 col-12">
    
    <app-distribuicao [distribuicao]="distribuicaoOutros">
    </app-distribuicao>
    
  </div>

  <div class=" col-12">
    <hr>    
  </div>


</div>
