<select 
  class="form-control" 
  [ngModel]="data"
  (ngModelChange)="onModelChange($event)" 
  [compareWith]="compare"
  [disabled]=disabled
  [ngClass]="
  {
    'is-valid':  (valido && submetido), 
    'is-invalid': (!valido && submetido) 
  }"
  >
  <option [ngValue]=null >
    Selecione
  </option>

  <optgroup label="{{item.nome}}" *ngFor="let item of datas">
    <option *ngFor="let grupo of item.lista" [ngValue]=grupo >
      {{grupo.categoria.nome +' '+grupo.nome}}</option>
  </optgroup>

</select>

<span class="invalid-feedback" *ngIf="(!valido && submetido)">
  Logradouro é Obrigatório
</span>

<span class="valid-feedback" *ngIf="(valido && submetido)">
  Válido
</span>
