<select 
  [ngModel]="categoria"
  (ngModelChange)="onModelChange($event)" 
  [compareWith]="compare"
  class="form-control" 

  [ngClass]="
  {
    'is-valid':  (valido  && submetido), 
    'is-invalid': (!valido && submetido) 
  }"
  >
  <option 
    *ngFor="let c of categorias" 
    [ngValue]=c> 
    {{c.nome}} 
  </option>

</select>

<span class="invalid-feedback" *ngIf="(!valido && submetido)">
  Categoria é Obrigatório
</span>

<span class="valid-feedback" *ngIf="(valido && submetido)">
  Valido
</span>