<div id="wrapper">
	<div class="vertical-align-wrap">
		<div class="vertical-align-middle auth-main">
      
      <div class="auth-box">

        <div class="top">
					<img src="assets/images/logo-white.svg" alt="Lucid">
				</div>

        <div class="card">
          
            <div class="header">
						<p class="lead">Entrar</p>
          </div>
          
					<div class="body">
          
            <form class="form-auth-small" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              
              <div class="form-group">
								<label for="signin-email" class="control-label sr-only">Usúario</label>
                <input 
                  type="email" 
                  formControlName="username" 
                  class="form-control" 
                  id="signin-email" 
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                  placeholder="usuario"
                  >
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Nome é obrigatorio</div>
                  </div>
              </div>
            
              <div class="form-group">
								<label for="signin-password" class="control-label sr-only">Senha</label>
                <input 
                  type="password" 
                  formControlName="password"
                  class="form-control" 
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                  id="signin-password" placeholder="Senha"
                  >
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Senha é obrigatorio</div>
                  </div>
              </div>

							<div class="form-group clearfix">
								<label class="fancy-checkbox element-left">
									<input type="checkbox">
									<span>Lembre-se de mim</span>
								</label>
							</div>
              
              <button [disabled]="loading" type="submit" class="btn btn-primary btn-lg btn-block">
                Entrar
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              </button>

              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
              
              <div class="bottom">
              
                <span class="helper-text m-b-10">
                  <i class="fa fa-lock"></i>&nbsp;
                  <a [routerLink]="['/authentication/page-forgot-password']">Esqueci a senha?</a></span>
								<span>Não tenho uma conta <a [routerLink]="['/authentication/page-register']">Registrar</a></span>
              
              </div>
            </form>

            
					</div>
				</div>
			</div>
		</div>
	</div>
</div>