<form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate> 
  
  <div class="row clearfix">
    <div class="col-12">
      
      <div class="card">
        
        <div class="header">
          <h2>Incluir Matrícula</h2>
        </div>
        
        <div class="body row">
          
          <div class="col-md-8 col-12">

            <div class="form-group">
              <label>* Logradouro:</label>
             
              <app-selecionar-logradouro
                [submetido]=submited
                [valido]=logradouro.valid
                (setValue)=setLogradouro($event)
              >
              </app-selecionar-logradouro>

            </div>
            
          </div>
          
          <div class="col-md-2 col-6">

            <div class="form-group">
              <label>* Número:</label>
              
              <input 
                type="text" 
                class="form-control"
                mask="0*"
                formControlName="numero"
                [ngClass]="
                {
                  'is-invalid': submited && numero.invalid , 
                  'is-valid': (numero.valid && numero.touched) 
                }"
              >
  
            <span class="invalid-feedback" *ngIf="numero.hasError('required')">
              Campo é Obrigatório
            </span>

            <span class="invalid-feedback" *ngIf="numero.hasError('minlength')">
              Esse campo exige pelo menos 3 caracteres
            </span>
              
            <span class="invalid-feedback" *ngIf="numero.hasError('maxlength')">
              Esse campo exige no maximo 50 caracteres
            </span>
            </div>

          </div>
          
          <div class="col-md-2 col-6">

            <div class="form-group">
              <label>* Letra:</label>
              <input 
                type="text" 
                class="form-control"
                mask="S*"
                formControlName="letra"
                [ngClass]="
                {
                  'is-invalid': submited && letra.invalid , 
                  'is-valid': (letra.valid && letra.touched) 
                }"
              >

          <span class="invalid-feedback" *ngIf="letra.hasError('required')">
            Campo é Obrigatório
          </span>

          <span class="invalid-feedback" *ngIf="letra.hasError('minlength')">
            Esse campo exige pelo menos 3 caracteres
          </span>
            </div>

          </div>

        </div>
        
        
        <div class="footer mb-4">
          
            <div class="col">
              <div class="d-flex justify-content-between">
                <button class="btn btn-outline-secondary" (click)="voltar()" type="button">Voltar</button>
                <button class="btn btn-outline-success" type="submit" >Salvar</button>
              </div>
            </div>

          
        </div>
        
      </div>
      
    </div>

    
  </div>
  
</form>